.searchBar {
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 10rem;
  padding: 1.25rem;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchBar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBar__header__question_FontSize {
  font-size: 1.125rem;
}

.searchBar__header__question {
  color: #363636;
}

.searchBar__header__question__lemchira {
  color: #ff7100;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  margin-bottom: 10px;
}

.searchBar__header__alerts_Button {
  font-size: 0.75rem;
  height: 1.875rem;
  width: 13.4375rem;
  background-color: #fff;
  border: 1px solid #ff7100;
  font-weight: 500;
  cursor: pointer;
  color: #ff7100;
}

.searchBar__header__alerts_Button:hover {
  color: #fff;
  background-color: #ff7100;
}

.searchBar__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .searchBar__data__values {
  display: flex;
  flex-direction: column;
  position: relative;
} */

.searchBar__data__city_Input {
  font-size: 0.875rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #fff;
  height: 2.5rem;
  outline: none;
  appearance: none;
}

/* .searchBarHeadersText {
  font-size: 14px;
  color: #363636;
  margin-bottom: 4px;
} */

/* .searchBar__data_Dropdown {
  width: 9.115rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #999;
  background-color: #fff;
  padding: 0 0.625rem 0 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
} */

/* .searchBar__data__asset_Dropdown_Text {
  color: #999999;
  font-size: 14px;
} */

/* .searchBar__data__asset_Dropdown__values {
  width: 17.329375rem;
  min-height: 16.08625rem;
  color: #363636;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 3.8125rem;
  display: flex;
  flex-direction: column;
} */

/* .searchBar__data__asset_Dropdown__value {
  width: 17.329375rem;
  height: 2.75rem;
  padding: 0 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .searchBar__data__asset_Dropdown__value__margin {
  margin-bottom: 10px;
} */

/* .searchBar__data__asset__checkboxContainer {
  min-width: 193px;
  cursor: pointer;
} */

/* .searchBar__data__asset_Dropdown__value__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
} */

/* .searchBar__data__asset_Dropdown__value__container {
  text-align: left;
  width: 40px;
  cursor: pointer;
} */

/* .assetsList {
  width: 17.5rem;
  min-height: 12.5rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
} */

/* .asset {
  width: 15rem;
  height: 3.125rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eee;
} */

.topBorder {
  border-top: 1px solid #eee;
}

/* .searchBar__data__asset_Dropdown__choiceButton {
  border: none;
  color: #ff7100;
  font-weight: 600;
  background-color: transparent;
} */

/* .searchBar__assetTypeDropdown__assetsAmountText {
  color: #999999;
  font-size: 14px;
  padding-right: 4px;
} */

.roomsMenu {
  padding: 0.9375rem;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  width: 11.25rem;
  height: 5rem;
  position: absolute;
  top: 3.8125rem;
  left: -1.1875rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.roomsMenu_dropdown {
  font-size: 0.875rem;
  outline: none;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #fff;
  height: 2.5rem;
  width: 4.6875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #999999;
  font-size: 14px;
}

.roomsMenu__from_Button {
  width: 20px;
  height: 0;
  position: absolute;
  left: 93px;
  border: 0;
  background-color: #fff;
  bottom: 49px;
  cursor: pointer;
}

.roomsMenu__values_Dropdown {
  width: 4.6875rem;
  height: 20rem;
  border: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.roomsMenu__values_Dropdown__from__position {
  top: 75px;
  right: 15px;
}

.roomsMenu_Dropdown__item {
  width: 3.5rem;
  height: 2.5rem;
  color: #363636;
  font-size: 0.875rem;
  padding: 0.6875rem 0.625rem;
  cursor: pointer;
}

.roomsMenu__from_Dropdown__item:hover {
  background-color: #eeeeee;
}

.roomsMenu__to_Button {
  width: 20px;
  height: 0;
  position: absolute;
  right: 142px;
  border: 0;
  background-color: #fff;
  bottom: 50px;
  cursor: pointer;
}

.roomsMenu__values_Dropdown__to__position {
  top: 75px;
  right: 90px;
}

.advancedSearch_Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.625rem;
  height: 2.5625rem;
  padding: 0.6875rem 0.3125rem;
  position: relative;
  background-color: #eeeeee;
  font-size: 0.875rem;
  border-radius: 2px;
  border: 1px solid #eee;
  cursor: pointer;
}

.advancedSearch_Button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.advancedSearch_Button__plus {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.advancedSearch_Button__x {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.advancedSearch_Button_Text {
  color: #363636;
  font-size: 0.875rem;
  margin-right: 8px;
}

.advancedSearch {
  height: 29.875rem;
  color: #363636;
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  border-top: 1px solid #ccc;
}

.advancedSearch__header {
  margin: 30px 40px 0 0;
  text-align: right;
  font-size: 1rem;
  font-weight: bolder;
}

.advancedSearch__top {
  margin: 0 2.5rem;
  padding: 0.625rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.advancedSearch__checkboxArea {
  width: 11rem;
  height: 2.8125rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.advancedSearch__center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.625rem 0;
  margin: 0 2.5rem;
  border-bottom: 1px solid #ccc;
}

.advancedSearch__center__data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #363636;
  width: 17.019375rem;
  height: 5.0625rem;
  padding: 0.625rem;
}

.advancedSearch__center__data__boxesArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.advancedSearch__center__box {
  font-size: 0.875rem;
  outline: none;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #fff;
  height: 40px;
}

.advancedSearch__center__boxWidth {
  width: 7.6975rem;
}

.advancedSearch_boxArrow {
  position: absolute;
  top: 1.0625rem;
  right: 6.5625rem;
  cursor: pointer;
}

.advancedSearch_boxArrow__to {
  position: absolute;
  cursor: pointer;
  top: 1.0625rem;
  right: 235px;
}

.advancedSearch__center__dateBox {
  width: 11.748125rem;
  height: 2.5rem;
  background: #ffffff;
  padding: 0.625rem 0.9375rem 0.625rem 1.875rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 0.9375rem;
}

.advancedSearch__dateBoxSign {
  font-size: 1.5625rem;
  color: #ccc;
  left: 5rem;
  top: 0.625rem;
  position: absolute;
}

.advancedSearch__center__immediateEntrance {
  min-width: 8rem;
  min-height: 2.8125rem;
  color: #363636;
  margin-right: 0.625rem;
  padding: 0.625rem 0.625rem 0 0;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.4375rem;
  align-self: flex-end;
}

.advancedSearch__bottom {
  min-height: 6.375rem;
  margin: 0 2.5rem;
  padding: 0.625rem 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advancedSearch__bottom__freeSearch {
  width: 22rem;
  height: 5.0625rem;
  display: flex;
  flex-direction: column;
}

.advancedSearch__bottom__freeSearch_Input {
  width: 20.75rem;
  height: 2.5rem;
  padding: 0.625rem;
  background: #ffffff;
  font-size: 0.875rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.advancedSearch__bottom__moshavimKibuzim {
  width: 16.443125rem;
  height: 2.8125rem;
  margin: 0 0 0.625rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ccc;
}

.advancedSearch__footer {
  min-height: 65px;
  color: #363636;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advancedSearch__footer__searchButton {
  width: 4.375rem;
  height: 2.5625rem;
  color: #ffffff;
  background: #ff7100;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.advancedSearch__footer__searchButton:hover {
  background: #bf6205;
}

.advancedSearch__footer__clearButton {
  width: 4.6875rem;
  height: 0.9375rem;
  color: #363636;
  font-size: 14px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background-color: initial;
}

.storiesDropdownList {
  width: 7.6975rem;
  height: 20rem;
  color: #363636;
  background: #ffffff;
  border: 1px solid #ccc;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 55px;
  display: flex;
  flex-direction: column;
}

.storiesDropdownItem {
  width: 6.51rem;
  height: 2.5rem;
  padding: 0.6875rem 0.625rem;
  cursor: pointer;
}

.storiesDropdownItem:hover {
  background: #eeeeee;
}

.storiesToDropdownListMargin {
  right: 129px;
}

.searchButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6875rem 0.3125rem;
  color: #ffffff;
  background-color: #ff7100;
  width: 6.076875rem;
  height: 2.5625rem;
  font-weight: 500;
  border-color: #ff7100;
  font-size: 14px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #bf6205;
  border-color: #bf6205;
}

.searchButton__lens {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  font-size: 1.5rem;
}

.searchBar__data__values__price {
  display: flex;
  flex-direction: row;
}

.searchBar__data__values__price_FromTo {
  font-size: 0.875rem;
  outline: none;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #fff;
  height: 2.5rem;
  width: 6.06125rem;
  height: 2.5rem;
}

.bell_stroke {
  fill: #ff7100;
  stroke: #ff7100;
}

.bell_fill {
  fill: #fff1e5;
}

svg {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.invisible {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
