form {
  height: 31.109375rem;
  width: 45vw;
  padding: 2.1875rem 2.1875rem 0.9375rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form__errorMessage {
  color: #ff2a2b;
  margin: 5px 0;
}

.form__greeting {
  color: #363636;
  padding: 0.3125rem 0 0;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.form__textBox__div {
  position: relative;
  width: 100%;
  height: 5.430625rem;
  display: flex;
  margin: 0 0 0.625rem;
  flex-direction: column;
  justify-content: flex-start;
}

.form__textBox {
  height: 3.125rem;
  background: #fff;
  padding: 0.625rem 0.9375rem 0.625rem 2.1875rem;
  box-shadow: none;
  /* border: 1px solid rgb(204, 204, 204); */
  border-radius: 4px;
  margin-top: 5px;
  font-size: 100%;
  outline: none;
}

.form__textBox__errorBorder {
  border: 1px solid red;
}

.form__textBox__Border {
  border: 1px solid rgb(204, 204, 204);
}

/* .form__textBox:hover {
  border: 1px solid black;
} */

.form__textBoxBorder {
  border: 1px solid black;
}

.fa-eye {
  width: 18px;
  height: 16px;
  right: 25.625rem;
  bottom: 1.875rem;
  color: #363636;
  cursor: pointer;
  position: absolute;
  right: 94%;
  bottom: 25px;
}

.fa-eye:hover {
  color: black;
}

.form__forgotPassword {
  align-self: flex-end;
}

.form__forgotPassword__link {
  color: #ff7100;
  font-size: 16px;
  font-weight: bolder;
  margin: 20px 0;
  text-decoration: none;
}

.form__submit {
  height: 3.75rem;
  width: 100%;
  margin: 1.25rem 0 0;
}

.form__submitButton {
  background: #ff7100;
  height: 3.125rem;
  padding: 0 1.25rem;
  width: 100%;
  border: 1px solid #ff7100;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.form__NoAccount {
  width: 100%;
  height: 1.349375rem;
  color: #363636;
  margin: 1.875rem 0 0;
  display: flex;
  justify-content: center;
}

.form__NoAccount__subscriptionLink {
  color: #ff7100;
  font-weight: 600;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
}

.forMetavhim {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forMetavhim__link {
  color: #363636;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@media (max-width: 1168px) {
  form {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
  }

  .form__mobileBackButton {
    width: 15px;
    height: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    left: 35px;
    outline-style: none;
    position: fixed;
    top: 42px;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 1169px) {
  form {
    width: 31.875rem;
    height: 31.109375rem;
  }

  .form__mobileImage {
    display: none;
  }

  .form__mobileBackButton {
    display: none;
  }
}
