<form>
  <div class="form__greeting">היי, טוב לראות אותך</div>
  <div class="form__textBox__div">
    מייל
    <input class="form__textBox" type="email" placeholder="yourmail@email.co.il">
  </div>
  <div class="form__textBox__div">
    סיסמא
    <input class="form__textBox" type="password" placeholder="הקלדת סיסמא">
    <i class="far fa-eye" id="togglePassword"></i>
  </div>
  <div class="form__forgotPassword">
    <a class="form__forgotPassword__link" href="">שכחתי סיסמא</a>
  </div>
  <div class="form__submit">
    <button class="form__submitButton" type="submit">התחברות</button>
  </div>
  <div class="form__NoAccount">
    אין לך חשבון?<a (click)="onSubscribeClick()" class="form__NoAccount__subscriptionLink">להרשמה</a>
  </div>
</form>
<div class="forMetavhim">
  <a class="forMetavhim__link" href="">כניסה למתווכים</a>
</div>
