<div class="header">
  <div class="upperHeader">
    <div class="upperHeader__flex">
      <div class="upperHeader__yad2">
        <a routerLink="">
          <img class="upperHeader__yad2__Img"
            src="https://assets.yad2.co.il/yad2site/y2assets/images/header/yad2Logo.png" alt="">
        </a>
      </div>
      <div class="upperHeader__realEstate upperHeader__link">
        <a href="">
          נדל"ן
        </a>
      </div>
      <div class="upperHeader__car upperHeader__link">
        <a href="">
          רכב
        </a>
      </div>
      <div class="upperHeader__secondHand upperHeader__link">
        <a href="">
          יד שנייה
        </a>
      </div>
      <div class="upperHeader__jobsIL upperHeader__link">
        <a href="">
          דרושים IL
        </a>
      </div>
      <div class="upperHeader__businessesForSale upperHeader__link">
        <a href="">
          עסקים למכירה
        </a>
      </div>
      <div class="upperHeader__pets upperHeader__link">
        <a href="">
          חיות מחמד
        </a>
      </div>
      <div class="upperHeader__professionals upperHeader__link">
        <a href="">
          בעלי מקצוע
        </a>
      </div>
      <div class="upperHeader__more upperHeader__link">
        <a href="">
          עוד...
        </a>
      </div>
    </div>
    <div class="upperHeader__flex">
      <div class="upperHeader__bell upperHeader__link">
        <i class="fa left">&#xf0f3;</i>
        <span class="link__text">התראות</span>
      </div>
      <div class="upperHeader__heart upperHeader__link">
        <span class="upperHeader__heart_Span">&#9825;</span>
        <span class="link__text">מודעות שאהבתי</span>
      </div>
      <div class="upperHeader__user upperHeader__link">
        <span class="fa upperHeader__user_Span">&#xf007;</span>
        <span class="link__text">התחברות</span>
      </div>
      <div class="upperHeader__postNewAdd">
        <a routerLink="/auth" class="upperHeader__postNewAdd_Link">
          <span class="upperHeader__postNewAdd_Link_Text__plus">+</span>
          <span class="upperHeader__postNewAdd_Link_Text">פרסום מודעה חדשה</span>
        </a>
      </div>
    </div>
  </div>
  <div class="lowerHeader">
    <div class="lowerHeader__right">
      <div class="lowerHeader__right__sale lowerHeader__link">מכירה</div>
      <div class="lowerHeader__right__renting lowerHeader__link">השכרה</div>
      <div class="lowerHeader__right__partnersApartments lowerHeader__link">דירות שותפים</div>
      <div class="lowerHeader__right__commercialRealEstate lowerHeader__link">נדל"ן מסחרי</div>
    </div>
    <div class="lowerHeader__left">
      <div class="lowerHeader__right__konesNehasim lowerHeader__link">
        <i class="fas lowerHeader__right__konesNehasim__img">&#xf6e3;</i>
        כונס נכסים
      </div>
      <div class="lowerHeader__right__doron lowerHeader__link">
        <img class="lowerHeader__right__doron_img lowerHeader__right_img"
          src="https://assets.yad2.co.il/yad2site/y2assets/images/pages/home/top-header-mobile/doron_orange.png" alt="">
        דורון - העוזר האישי
      </div>
      <div class="lowerHeader__right__yad1 lowerHeader__link">
        <img class="lowerHeader__right__yad1_img lowerHeader__right_img"
          src="	https://assets.yad2.co.il/yad2site/y2assets/images/logos/yad1/yad1_logo.svg" alt="">
        יד1 דירות חדשות
      </div>
      <div class="lowerHeader__right__yadata lowerHeader__link">
        <img class="lowerHeader__right__yadata_img"
          src="https://assets.yad2.co.il/yad2site/y2assets/images/logos/yadata/yadata_logo_black.svg" alt="">
        הערכת שווי נכס
      </div>
    </div>
  </div>
</div>
