.container {
  background: #fff8ef;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 11% 39% 39% 11%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    ". header header ."
    ". form description ."
    ". footer footer .";
}

.header {
  grid-area: header;
}

.headerLink {
  padding: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  width: 45vw;
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description__div {
  max-width: 28.125rem;
}

.description__div__Sentence {
  color: #363636;
  font-size: 36px;
  font-weight: 300;
}

.description__images {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description__image__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__image__text {
  color: #363636;
  font-size: 14px;
  margin: 0.625rem 0 0;
}

.footer {
  grid-area: footer;
}

@media (max-width: 640px) {
  .description {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1286px) {
  .description__div {
    min-width: 200px;
  }

  .description__images {
    max-width: 510px;
  }
}

@media (min-width: 1287px) {
  .description__images {
    width: 450px;
  }
}
