<div class="container">
  <div class="header">
    <a class="headerLink" routerLink="">
      <img src="https://assets.yad2.co.il/login/logo.svg" alt="Yad2">
    </a>
  </div>
  <div class="form">
    <app-login *ngIf="!isRegistration" (subscribeClicked)="showSubscriptionForm($event)"></app-login>
    <app-registration *ngIf="isRegistration" (loginClicked)="showLoginForm($event)"></app-registration>
  </div>
  <!-- <div class="form">
    <form>
      <div class="form__greeting">היי, טוב לראות אותך</div>
      <div class="form__textBox__div">
        מייל
        <input class="form__textBox" type="email" placeholder="yourmail@email.co.il">
      </div>
      <div class="form__textBox__div">
        סיסמא
        <input class="form__textBox" type="password" placeholder="הקלדת סיסמא">
        <i class="far fa-eye" id="togglePassword"></i>
      </div>
      <div class="form__forgotPassword">
        <a class="form__forgotPassword__link" href="">שכחתי סיסמא</a>
      </div>
      <div class="form__submit">
        <button class="form__submitButton" type="submit">התחברות</button>
      </div>
      <div class="form__NoAccount">
        אין לך חשבון?<a class="form__NoAccount__subscriptionLink" href="">להרשמה</a>
      </div>
    </form>
    <div class="forMetavhim">
      <a class="forMetavhim__link" href="">כניסה למתווכים</a>
    </div>
  </div> -->
  <div class="description">
    <div class="description__div">
      <h1>
        <span class="description__div__Sentence">לקנות מהר, למכור מהר.</span>
        <br />
        <span class="description__div__Sentence">ויש לנו אחלה כלים לזה.</span>
      </h1>
    </div>
    <div class="description__images">
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_alert.svg" alt="">
        <span class="description__image__text">התראות</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_chat.svg" alt="">
        <span class="description__image__text">צ'אט</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_publish.svg" alt="">
        <span class="description__image__text">פרסום מודעה</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_profile.svg" alt="">
        <span class="description__image__text">אזור אישי</span>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
