<div class="container">
  <div class="header">
    <a class="headerLink" routerLink="">
      <img src="https://assets.yad2.co.il/login/logo.svg" alt="Yad2">
    </a>
  </div>
  <div class="form">
    <app-login *ngIf="!isRegistration" (subscribeClicked)="showSubscriptionForm($event)"></app-login>
    <app-registration *ngIf="isRegistration" (loginClicked)="showLoginForm($event)"></app-registration>
    <!-- <app-login *ngIf="isRegistration" (subscribeClicked)="showSubscriptionForm($event)"></app-login>
    <app-registration *ngIf="!isRegistration" (loginClicked)="showLoginForm($event)"></app-registration> -->
  </div>
  <div class="description">
    <div class="description__div">
      <h1>
        <span class="description__div__Sentence">לקנות מהר, למכור מהר.</span>
        <br />
        <span class="description__div__Sentence">ויש לנו אחלה כלים לזה.</span>
      </h1>
    </div>
    <div class="description__images">
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_alert.svg" alt="">
        <span class="description__image__text">התראות</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_chat.svg" alt="">
        <span class="description__image__text">צ'אט</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_publish.svg" alt="">
        <span class="description__image__text">פרסום מודעה</span>
      </div>
      <div class="description__image__div">
        <img src="https://assets.yad2.co.il/login/icon_profile.svg" alt="">
        <span class="description__image__text">אזור אישי</span>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
