.searchBar__data__asset_Dropdown__values {
  width: 17.329375rem;
  min-height: 16.08625rem;
  color: #363636;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

.searchBar__data__asset_Dropdown__value {
  width: 17.329375rem;
  height: 2.75rem;
  padding: 0 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBar__data__asset_Dropdown__value__margin {
  margin-bottom: 10px;
}

.searchBar__data__asset__checkboxContainer {
  min-width: 193px;
  cursor: pointer;
}

.searchBar__data__asset_Dropdown__value__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.searchBar__data__asset_Dropdown__value__container {
  text-align: left;
  width: 40px;
  cursor: pointer;
}

.assetsList {
  width: 17.5rem;
  min-height: 12.5rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.asset {
  width: 15rem;
  height: 3.125rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.searchBar__data__asset_Dropdown__choiceButton {
  border: none;
  color: #ff7100;
  font-weight: 600;
  background-color: transparent;
}

.searchBar__assetTypeDropdown__assetsAmountText {
  color: #999999;
  font-size: 14px;
  padding-right: 4px;
}
