* {
  direction: rtl;
}

.container {
  background: #fff8ef;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 8% 42% 42% 8%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    ". header header ."
    ". form description ."
    ". footer footer .";
}

.header {
  grid-area: header;
}

.headerLink {
  padding: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 31.875rem;
  height: 35.29125rem;
  padding: 2.1875rem 2.1875rem 0.9375rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form__greeting {
  color: #363636;
  padding: 0.3125rem 0 0;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.form__textBox__div {
  width: 100%;
  height: 5.430625rem;
  display: flex;
  margin: 0 0 0.625rem;
  flex-direction: column;
  justify-content: flex-start;
}

.form__textBox {
  height: 3.125rem;
  background: #fff;
  padding: 0.625rem 0.9375rem 0.625rem 2.1875rem;
  box-shadow: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-top: 5px;
  font-size: 100%;
}

.form__textBox:hover {
  border: 1px solid black;
}

.fa-eye {
  width: 18px;
  height: 16px;
  position: relative;
  right: 25.625rem;
  bottom: 1.875rem;
  color: #363636;
  cursor: pointer;
}

.fa-eye:hover {
  color: black;
}

.form__forgotPassworrd {
  width: 100%;
  height: 2.599375rem;
  /* display: flex;
  flex-direction: row;
  align-items: flex-end; */
}

.form__forgotPassword__link {
  color: #ff7100;
  margin: 1.25rem 0 0;
  text-decoration: none;
  font-weight: 600;
}

.form__submit {
  height: 3.75rem;
  width: 100%;
  margin: 1.25rem 0 0;
}

.form__submitButton {
  background: #ff7100;
  height: 3.125rem;
  padding: 0 1.25rem;
  width: 100%;
  border: 1px solid #ff7100;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.form__NoAccount {
  width: 100%;
  height: 1.349375rem;
  color: #363636;
  margin: 1.875rem 0 0;
  display: flex;
  justify-content: center;
}

.form__NoAccount__subscriptionLink {
  color: #ff7100;
  font-weight: 600;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
}

.forMetavhim {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forMetavhim__link {
  color: #363636;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description__div {
  width: 28.125rem;
  /* height: 12.060625rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.description__div__Sentence {
  color: #363636;
  font-size: 36px;
  font-weight: 300;
}

.description__images {
  width: 28.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description__image__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__image__text {
  color: #363636;
  font-size: 14px;
  margin: 0.625rem 0 0;
}

.footer {
  grid-area: footer;
  /* background: green; */
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
