<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form__greeting">היי, נעים להכיר</div>
  <div class="form__textBox__div">
    מייל
    <input class="form__textBox" placeholder="yourmail@email.co.il" ngModel name="email" #email="ngModel" required
      email>
    <span class="spanAlert" *ngIf="!email.valid && email.touched">
      יש להקליד מייל</span>
  </div>
  <div class="form__textBox__div">
    סיסמא
    <input class="form__textBox" name="password" ngModel placeholder="הקלדת סיסמא" #password="ngModel">
    <i class="far fa-eye" id="togglePassword"></i>
  </div>
  <div class="form__textBox__div">
    אימות סיסמא
    <input class="form__textBox" type="password" placeholder="הקלדת סיסמא">
    <i class="far fa-eye" id="togglePassword"></i>
  </div>
  <div class="form__submit">
    <button class="form__submitButton" type="submit">המשך</button>
  </div>
  <div class="form__NoAccount">
    כבר יש לך חשבון?<a (click)="onLoginClick()" class="form__NoAccount__subscriptionLink">להתחברות</a>
  </div>
</form>
