<form [formGroup]="assetPublishingForm" #form="ngForm" (ngSubmit)="onSubmit()">
  <div (click)="openAccordion()" *ngIf="!isOpened" class="assetAccordion assetAccordionClosed">
    <div class="accordionNumber greyAccordionNumber">2</div>
    <div class="accordionTitle assetAccordionTitleClosed">כתובת הנכס</div>
  </div>
  <!-- *ngIf="isOpened" -->
  <div *ngIf="isOpened" class="assetAccordion assetAccordionOpened">
    <div class="accordionNumber greenAccordionNumber">2</div>
    <div class="accordionTitle assetAccordionTitleOpened">כתובת הנכס</div>
    <div class="container">
      <span class="formStarExplanation">סימנו עבורך את שדות החובה. שלא נפספס פרט חשוב</span>
      <div class="fieldContainer">
        <div>סוג הנכס*</div>
        <!-- [(ngModel)]="selectedAssetValue" -->
        <!-- #asset="ngModel" -->
        <select [(ngModel)]="selectedAssetValue"
          [style.border]="!assetPublishingForm.get('assetType').valid && form.submitted ? '1px solid #ff0000':''"
          class="big field pointer" formControlName="assetType">
          <option selected [ngValue]="null">דירה או אולי פנטהאוס?</option>
          <!-- <option disabled selected value="-1">דירה או אולי פנטהאוס?</option> -->
          <!-- <option value="-1">דירה או אולי פנטהאוס?</option> -->
          <option ngValue="{{ i }}" *ngFor="let asset of assets;let i = index">{{ asset }}</option>
        </select>
        <span *ngIf="!assetPublishingForm.get('assetType').valid && form.submitted" class="form__error">שדה חובה</span>
      </div>
      <div class="fieldContainer">
        <div>מצב הנכס*</div>
        <select
          [style.border]="!assetPublishingForm.get('assetCondition').valid && form.submitted ? '1px solid #ff0000':''"
          class="big field pointer" formControlName="assetCondition">
          <option selected [ngValue]="null">משופץ? חדש מקבלן?</option>
          <!-- <option value="-1">משופץ? חדש מקבלן?</option> -->
          <option ngValue="{{ i }}" *ngFor="let condition of assetConditions;let i = index">{{ condition }}</option>
        </select>
        <span *ngIf="!assetPublishingForm.get('assetCondition').valid && form.submitted" class="form__error">שדה
          חובה</span>
      </div>
      <div class="fieldContainer">
        <div>ישוב*</div>
        <!-- [matAutocompleteDisabled]="cityInput.value.length === 0 ? true:false" -->
        <!-- [formControl]="publishAssetFormControl" -->
        <input [style.border]="!assetPublishingForm.get('city').valid && form.submitted ? '1px solid #ff0000':''"
          ngModel formControlName="city" (keyup)="onCityInputKeyup(cityInput, streetField, streetInput)" matInput
          #cityInput type="text" [matAutocomplete]="autoCities" class="big field" placeholder="איפה נמצא הנכס?">
        <!-- <input ngModel formControlName="city" (keydown)="onCityInputKeyup(cityInput, streetField, streetInput)" matInput
          #cityInput type="text" [matAutocomplete]="autoCities" class="big field"
          placeholder="איפה נמצא הנכס?"> -->
        <mat-autocomplete #autoCities="matAutocomplete">
          <!-- [ngClass]="showAutocomplete ? 'hide-autocomplete' : ''" -->
          <mat-option (click)="onCityClick(streetField)" *ngFor="let city of filteredCities | async;"
            [value]="city.city">
            {{ city.city }}
          </mat-option>
          <!-- </div> -->
        </mat-autocomplete>
        <!-- (click)="clearCityInputText(cityInput, streetField, streetInput)" -->
        <span *ngIf="!(cityInput.value.length === 0)" (click)="clearCityInputText(streetField)"
          class="cityInputTextClearing">&#10006;</span>
        <!-- *ngIf="!assetPublishingForm.get('city').valid && assetPublishingForm.get('city').touched" -->
        <span *ngIf="!assetPublishingForm.get('city').valid && form.submitted" class="form__error">יש לבחור ישוב מתוך
          הרשימה</span>
      </div>
      <div #streetField class="fieldContainer disabled">
        <div>רחוב*</div>
        <input [style.border]="!assetPublishingForm.get('street').valid && form.submitted ? '1px solid #ff0000':''"
          ngModel formControlName="street"
          (keyup)="onStreetInputKeyup(streetInput, newsCheckboxContainer, houseNumberContainer, houseNumber)"
          type="text" matInput #streetInput [matAutocomplete]="autoStreets" class="big field"
          placeholder="הכנסת שם הרחוב">
        <mat-autocomplete #autoStreets="matAutocomplete">
          <!-- *ngFor="let city of cities; -->
          <ng-container *ngFor="let city of filteredCities | async;">
            <mat-option (click)="onStreetClick(newsCheckboxContainer, houseNumberContainer)"
              *ngFor="let street of city.street;" [value]="street">
              {{ street }}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <span *ngIf="!(streetInput.value.length === 0)"
          (click)="clearStreetInputText(streetInput, newsCheckboxContainer, houseNumberContainer, houseNumber)"
          class="streetInputTextClearing">&#10006;</span>
        <span class="fieldExplanation">המידע הזה מגיע מגוף ממשלתי. אם הרחוב שלך לא מופיע, ממולץ לבחור רחוב קרוב
          אליך</span>
        <a [ngStyle]="{ 'color': streetField.classList.contains('disabled') ? '#ccc' : '#ff7100'}"
          class="streetQuestion">לא
          מצאת את הרחוב?</a>
        <span *ngIf="!assetPublishingForm.get('street').valid && form.submitted" class="form__error">יש לבחור רחוב מתוך
          הרשימה</span>
      </div>
      <div #houseNumberContainer class="fieldContainer disabled houseNumberContainer">
        <div>מס` בית*</div>

        <input [style.border]="!assetPublishingForm.get('houseNumber').valid && form.submitted ? '1px solid #ff0000':''"
          ngModel formControlName="houseNumber" #houseNumber appNumberInput (keypress)="letMaxFourDigits(houseNumber)"
          type="text" class="small field houseNumber">

        <span *ngIf="!assetPublishingForm.get('houseNumber').valid && form.submitted" class="form__error">יש לבחור מס
          בית מתוך הרשימה</span>
      </div>
      <div class="floor">
        <div class="fieldContainer">
          <div>קומה*</div>
          <input [style.border]="!assetPublishingForm.get('floor').valid && form.submitted ? '1px solid #ff0000':''"
            ngModel formControlName="floor" appNumberInput type="text" class="medium field"
            placeholder="הכנסת מספר קומה">
          <div class="floorsErrorContainer">
            <span *ngIf="!assetPublishingForm.get('floor').valid && form.submitted" class="form__error">שדה
              חובה</span>
          </div>
        </div>
        <div class="fieldContainer">
          <div>סה"כ קומות בבניין*</div>
          <input
            [style.border]="!assetPublishingForm.get('numberOfFloors').valid && form.submitted ? '1px solid #ff0000':''"
            ngModel formControlName="numberOfFloors" appNumberInput type="text" class="medium field"
            placeholder='הכנסת סה"כ קומות'>
          <div class="floorsErrorContainer">
            <span *ngIf="!assetPublishingForm.get('numberOfFloors').valid && form.submitted" class="form__error">שדה
              חובה</span>
          </div>
        </div>
        <div class="checkboxContainer" appCheckbox>
          <div class="checkbox"></div>
        </div>
        <div class="checkboxTitle">על עמודים</div>
      </div>
      <div class="fieldContainer disabled">
        <div>שכונה</div>
        <input type="text" class="big field">
        <span class="big fieldExplanation">
          המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי
        </span>
      </div>
      <div class="fieldContainer disabled">
        <div>אזור מכירה</div>
        <input type="text" class="big field" placeholder="בחירת אזור מכירה">
        <span class="big fieldExplanation">
          המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי
        </span>
      </div>
      <div #newsCheckboxContainer class="fieldContainer disabled">
        <div class="newsCheckboxContainer">
          <div class="checkboxContainer" appCheckbox>
            <div class="checkbox checkboxDisabled">
            </div>
          </div>
          <div class="checkboxTitle checkboxTitleDisabled">
            אני רוצה לקבל עדכון חודשי במייל עם הערכת שווי מעודכנת עבור
            הנכס, עסקאות באזור
            והצעות מקצועיות מיועצי נדל"ן</div>
        </div>
      </div>
      <div class="buttonsContainer">
        <button class="btnBack">חזרה</button>
        <button type="submit" class="btnNextLevel">להמשיך לשלב הבא</button>
      </div>
    </div>
  </div>
</form>
